<div class="container">
  <h1>Flats (<%= @flats.count %>)</h1>

  <% @flats.each do |flat| %>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= flat.name %></h5>
      <p class="card-text"><%= flat.address %></p>
      <i class="fa-solid fa-user-group"><%= flat.number_of_guests %></i>
      <i class="fa-solid fa-euro-sign"><%= flat.price_per_night %></i>
      <hr>
      <a href="#" class="card-link">More Info</a>
    </div>
  </div>
  <% end %>
</div>
